<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>canvas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DB952EB1BAB7E6B003A7D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB952FF1BAB7E6B003A7D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB9530A1BAB7E6B003A7D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
